<!doctype html>
<html lang="en">

<head>
    <title>Climbing recommender</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="https://cdn.leafletjs.com/leaflet-0.7.2/leaflet.ie.css" /><![endif]-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet-sidebar.css') }}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/universal.css') }}"/>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(87430499, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>

<noscript><div><img src="https://mc.yandex.ru/watch/87430499" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</head>

<body>
    <div id="map" class="sidebar-map"></div>
    {% if explanation_on=='on' %}
    <div id="explanation">
        <div class="explanation_text">
            {% if explanation_sentence|length > 261 %}
                <script>document.getElementById('explanation').style.height = '220px';</script>
            {% elif explanation_sentence|length > 226 %}
                <script>document.getElementById('explanation').style.height = '200px';</script>
            {% elif explanation_sentence|length > 192 %}
                <script>document.getElementById('explanation').style.height = '180px';</script>
            {% elif explanation_sentence|length > 162 %}
                <script>document.getElementById('explanation').style.height = '160px';</script>
            {% elif explanation_sentence|length > 127 %}
                <script>document.getElementById('explanation').style.height = '140px';</script>
            {% else %}
                <script>document.getElementById('explanation').style.height = '120px';</script>
            {% endif %}
            {{ explanation_sentence }}
        </div>
    </div>
    {% endif %}

    <script src="{{ url_for('static', filename='js/leaflet.js') }}"></script>

    <script src="{{ url_for('static', filename='js/leaflet-sidebar.js') }}"></script>
    <script>
        new TomSelect("#select-crag",{
            create: true,
            sortField: {
                field: "text",
                direction: "asc"
            }
        });
    </script>

    <div id="sidebar" class="leaflet-sidebar {% if crags_recommendation=='on' %} collapsed {% endif %} ">
        <!-- Nav tabs -->
        <div class="leaflet-sidebar-tabs">
            <ul role="tablist"> <!-- top aligned tabs -->
                <li class="active"><a href="#profile" role="tab"><i class="fa fa-user"></i></a></li>
                <li><a href="#routes_list" role="tab"><i class="fa fa-bars"></i></a></li>
                <!--
                <li><a href="#search" role="tab"><i class="bi bi-search"></i></a></li>
                -->
            </ul>

        </div>

        <!-- Tab panes -->
        <div class="leaflet-sidebar-content">
            <!-- Profile -->
            <div class="leaflet-sidebar-pane active" id="profile">
                <h1 class="leaflet-sidebar-header">
                    Preferences
                    <div class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></div>
                </h1>
                    <div class="container">
                        <form id="form" method="get" action="recommended_crags">
                            <div>
                                <div class="mb-3">
                                    <label for="user_id">User id:</label>
                                    <input readonly="True" name="user_id" id="user_id" value="{{ data.user_id }}">
                                </div>

                                <div class="mb-3">
                                    <label for="type_recommendation" class="form-label" id="label_type_recommendation">
                                        Choose recommendation type</label>
                                    <select name="type_recommendation" class="form-control" id="type_recommendation">
                                        <option value="favourite" selected>Favourite moves</option>
                                        <option value="training">Training</option>
                                        <option value="motivation">Motivation</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <p class="fs-5">Adjust your preferences:</p>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" id="label_style">Favourite climbing styles</label>

                                    <input name="athletic" type="checkbox" class="btn-check" id="btn-athletic"
                                            {% if data['athletic'] == 1 %} checked {% endif %} autocomplete="off">
                                    <label value="athletic" class="btn btn-primary" for="btn-athletic">Athletic</label>

                                    <input name="cruxy" type="checkbox" class="btn-check" id="btn-cruxy"
                                           {% if data['cruxy'] == 1 %} checked {% endif %} autocomplete="off">
                                    <label value="cruxy" class="btn btn-primary" for="btn-cruxy">Cruxy</label>

                                    <input name="endurance" type="checkbox" class="btn-check" id="btn-endurance"
                                           {% if data['endurance'] == 1 %} checked {% endif %} autocomplete="off">
                                    <label value="endurance" class="btn btn-primary" for="btn-endurance">Endurance</label>

                                    <input name="crimpy" type="checkbox" class="btn-check" id="btn-crimpy"
                                           {% if data['crimpy'] == 1 %} checked {% endif %} autocomplete="off">
                                    <label value="crimpy" class="btn btn-primary" for="btn-crimpy">Crimpy</label>

                                    <input name="sloper" type="checkbox" class="btn-check" id="btn-sloper"
                                           {% if data['sloper'] == 1 %} checked {% endif %} autocomplete="off">
                                    <label value="sloper" class="btn btn-primary" for="btn-sloper">Sloper</label>

                                    <input name="technical" type="checkbox" class="btn-check" id="btn-technical"
                                           {% if data['technical'] == 1 %} checked {% endif %} autocomplete="off">
                                    <label value="technical" class="btn btn-primary" for="btn-technical">Technical</label>

                                </div>
                                <div class="mb-3">
                                    <label class="form-label" id="label_style">Least used climbing styles</label>

                                    <input name="athletic_least" type="checkbox" class="btn-check" id="btn-least-athletic"
                                           {% if data['athletic_least'] == 1 %} checked {% endif %} autocomplete="off">
                                    <label value="athletic_least" class="btn btn-primary" for="btn-least-athletic">Athletic</label>

                                    <input name="cruxy_least" type="checkbox" class="btn-check" id="btn-least-cruxy"
                                           {% if data['cruxy_least'] == 1 %} checked {% endif %} autocomplete="off">
                                    <label value="cruxy_least" class="btn btn-primary" for="btn-least-cruxy">Cruxy</label>

                                    <input name="endurance_least" type="checkbox" class="btn-check" id="btn-least-endurance"
                                           {% if data['endurance_least'] == 1 %} checked {% endif %} autocomplete="off">
                                    <label value="endurance_least" class="btn btn-primary" for="btn-least-endurance">Endurance</label>

                                    <input name="crimpy_least" type="checkbox" class="btn-check" id="btn-least-crimpy"
                                           {% if data['crimpy_least'] == 1 %} checked {% endif %} autocomplete="off">
                                    <label value="crimpy_least" class="btn btn-primary" for="btn-least-crimpy">Crimpy</label>

                                    <input name="sloper_least" type="checkbox" class="btn-check" id="btn-least-sloper"
                                           {% if data['sloper_least'] == 1 %} checked {% endif %} autocomplete="off">
                                    <label value="sloper_least" class="btn btn-primary" for="btn-least-sloper">Sloper</label>

                                    <input name="technical_least" type="checkbox" class="btn-check" id="btn-least-technical"
                                           {% if data['technical_least'] == 1 %} checked {% endif %} autocomplete="off">
                                    <label value="technical_least" class="btn btn-primary" for="btn-least-technical">Technical</label>
                                </div>
                                <div class="mb-3">
                                    <label for="grade" class="form-label" id="label_grade">Climbing grades</label>
                                    <label for="grade" class="form-label" id="label_grade_not_inserted" style="color: #c82829;
                                        display: none">Climbing grades should be inserted</label>
                                    <input name="4" type="checkbox" class="btn-check" id="btn-4"
                                           {% if data['checked_grades']['4'] == 1 %} checked {% endif %} autocomplete="off">
                                    <label value="4" class="btn btn-primary" for="btn-4">4</label>
                                    <input name="5a" type="checkbox" class="btn-check" id="btn-5a"
                                           {% if data['checked_grades']['5a'] == 1 %} checked {% endif %} autocomplete="off">
                                    <label value="5a" class="btn btn-primary" for="btn-5a">5a</label>
                                    <input name="5b" type="checkbox" class="btn-check" id="btn-5b"
                                           {% if data['checked_grades']['5b'] == 1 %} checked {% endif %} autocomplete="off">
                                    <label value="5b" class="btn btn-primary" for="btn-5b">5b</label>
                                    <input name="5c" type="checkbox" class="btn-check" id="btn-5c"
                                           {% if data['checked_grades']['5c'] == 1 %} checked {% endif %} autocomplete="off">
                                    <label value="5c" class="btn btn-primary" for="btn-5c">5c</label>
                                    <input name="6a" type="checkbox" class="btn-check" id="btn-6a"
                                           {% if data['checked_grades']['6a'] == 1 %} checked {% endif %} autocomplete="off">
                                    <label value="6a" class="btn btn-primary" for="btn-6a">6a</label>
                                    <input name="6b" type="checkbox" class="btn-check" id="btn-6b"
                                           {% if data['checked_grades']['6b'] == 1 %} checked {% endif %} autocomplete="off">
                                    <label value="6b" class="btn btn-primary" for="btn-6b">6b</label>
                                    <input name="6c" type="checkbox" class="btn-check" id="btn-6c"
                                           {% if data['checked_grades']['6c'] == 1 %} checked {% endif %} autocomplete="off">
                                    <label value="6c" class="btn btn-primary" for="btn-6c">6c</label>

                                    <input name="7a" type="checkbox" class="btn-check" id="btn-7a"
                                           {% if data['checked_grades']['7a'] == 1 %} checked {% endif %} autocomplete="off">
                                    <label value="7a" class="btn btn-primary" for="btn-7a">7a</label>
                                    <input name="7b" type="checkbox" class="btn-check" id="btn-7b"
                                           {% if data['checked_grades']['7b'] == 1 %} checked {% endif %} autocomplete="off">
                                    <label value="7b" class="btn btn-primary" for="btn-7b">7b</label>
                                    <input name="7c" type="checkbox" class="btn-check" id="btn-7c"
                                           {% if data['checked_grades']['7c'] == 1 %} checked {% endif %} autocomplete="off">
                                    <label value="7c" class="btn btn-primary" for="btn-7c">7c</label>
                                    <input name="8a" type="checkbox" class="btn-check" id="btn-8a"
                                           {% if data['checked_grades']['8a'] == 1 %} checked {% endif %} autocomplete="off">
                                    <label value="8a" class="btn btn-primary" for="btn-8a">8a</label>
                                    <input name="8b" type="checkbox" class="btn-check" id="btn-8b"
                                           {% if data['checked_grades']['8b'] == 1 %} checked {% endif %} autocomplete="off">
                                    <label value="8b" class="btn btn-primary" for="btn-8b">8b</label>
                                    <input name="8c" type="checkbox" class="btn-check" id="btn-8c"
                                           {% if data['checked_grades']['8c'] == 1 %} checked {% endif %} autocomplete="off">
                                    <label value="8c" class="btn btn-primary" for="btn-8c">8c</label>
                                    <input name="9a" type="checkbox" class="btn-check" id="btn-9a"
                                           {% if data['checked_grades']['9a'] == 1 %} checked {% endif %} autocomplete="off">
                                    <label value="9a" class="btn btn-primary" for="btn-9a">9a</label>
                                    <input name="9b" type="checkbox" class="btn-check" id="btn-9b"
                                           {% if data['checked_grades']['9b'] == 1 %} checked {% endif %} autocomplete="off">
                                    <label value="9b" class="btn btn-primary" for="btn-9b">9b</label>
                                    <input name="9c" type="checkbox" class="btn-check" id="btn-9c"
                                           {% if data['checked_grades']['9c'] == 1 %} checked {% endif %} autocomplete="off">
                                    <label value="9c" class="btn btn-primary" for="btn-9c">9c</label>
                                </div>
                                <div class="mb-3">
                                    <label for="discipline" class="form-label" id="label_steepness">Favourite wall steepness</label>
                                    <input name="slab" type="checkbox" class="btn-check" id="btn-slab"
                                           {% if data['slab'] == 1 %} checked {% endif %} autocomplete="off">
                                    <label value="slab" class="btn btn-primary" for="btn-slab"><i class="bi bi-arrow-up-right"></i>Slab</label>
                                    <input name="vertical" type="checkbox" class="btn-check" id="btn-vertical"
                                           {% if data['vertical'] == 1 %} checked {% endif %} autocomplete="off">
                                    <label value="vertical" class="btn btn-primary" for="btn-vertical"><i class="bi bi-arrow-up-short"></i>Vertical</label>
                                    <input name="overhang" type="checkbox" class="btn-check" id="btn-overhang"
                                           {% if data['overhang'] == 1 %} checked {% endif %} autocomplete="off">
                                    <label value="overhang" class="btn btn-primary" for="btn-overhang"><i class="bi bi-arrow-up-left"></i>Overhang</label>
                                    <input name="roof" type="checkbox" class="btn-check" id="btn-roof"
                                           {% if data['roof'] == 1 %} checked {% endif %} autocomplete="off">
                                    <label value="roof" class="btn btn-primary" for="btn-roof"><i class="bi bi-arrow-right-short"></i>Roof</label>
                                </div>
                            </div>

                            <div class="left-panel__bottom-ribbon">
                                <div class="container">
                                  <div class="row">
                                    <div class="col-sm">
                                      <button type="submit" class="left-panel__bottom-ribbon__button btn btn-danger"
                                              id="btnHome" name='action' value="refresh">Refresh</button>
                                    </div>
                                    <div class="col-sm">
                                      <button type="submit" class="left-panel__bottom-ribbon__button btn btn-success"
                                              id="btnRecommend" name='action' value="recommend">Recommend</button>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </form>
                    </div>
            </div>
            <!-- End profile -->
            <!-- List of crags -->
            <div class="leaflet-sidebar-pane" id="routes_list">
                <h1 class="leaflet-sidebar-header">
                    List of crags
                    <div class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></div>
                </h1>
                    <div class="container">
                    {% if crags_recommendation=='on' %}
                        <ul class="list-group">

                        {% for crag in recommended_crags %}
                            <li class="list-group-item">Crag: {{ crag }}, Number of suitable routes: {{ crags_with_routes[crag] }}</li>
                        {% endfor %}
                        </ul>
                    </ul>
                    {% endif %}
                    </div>
            </div>
            <!-- End list of crags -->
            <!-- Search -->
            <!--
            <div class="leaflet-sidebar-pane" id="search">
                <h1 class="leaflet-sidebar-header">
                    Search the crag
                    <div class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></div>
                </h1>
                    <div class="container">
                        <select id="select-crag" placeholder="Select a crag" autocomplete="off"
                            name="crag_name" class="form-control">
                            <option value="">Select a crag</option>
                            {% for marker in markers %}
                                 <option value="{{ marker['cragSlug'] }}">{{ marker['name'] }}</option>
                            {% endfor %}
                        </select>
                    </div>

            </div>
            -- >
            <!-- End search of crags -->
            </div>
    </div>
    <script src="{{ url_for('static', filename='js/universal.js') }}"/>
    </script>

    <script>
        var greenIcon = L.icon({
            iconUrl: '{{ url_for('static', filename='img/green_circle.png') }}',
            shadowUrl: '{{ url_for('static', filename='img/shadow_bolt.png') }}',
            iconSize:     [30, 30], // size of the icon
            shadowSize:   [30, 40], // size of the shadow
        });
        var greyIcon = L.icon({
            iconUrl: '{{ url_for('static', filename='img/grey_circle.png') }}',
            shadowUrl: '{{ url_for('static', filename='img/shadow_bolt.png') }}',
            iconSize:     [30, 30], // size of the icon
            shadowSize:   [30, 40], // size of the shadow
        });
        var yellowIcon = L.icon({
            iconUrl: '{{ url_for('static', filename='img/yellow_circle.png') }}',
            shadowUrl: '{{ url_for('static', filename='img/shadow_bolt.png') }}',
            iconSize:     [30, 30], // size of the icon
            shadowSize:   [30, 40], // size of the shadow
        });
        <!-- change the color when clicked -->
        map.on('popupopen', function(e) {
          var marker = e.popup._source;
          var current_icon = yellowIcon;
          current_icon.options.iconSize = [ marker['size'], marker['size'] ];
          current_icon.options.shadowSize = [ marker['size'] , marker['size'] ];
          marker.setIcon(current_icon);
        });
        map.on('popupclose', function(e) {
          var marker = e.popup._source;
          var current_icon = greenIcon;
          current_icon.options.iconSize = [ marker['size'], marker['size'] ];
          current_icon.options.shadowSize = [ marker['size'] , marker['size'] ];
          marker.setIcon({% if crags_recommendation == 'on' %} current_icon {% else %} greyIcon {% endif %});
        });
        <!-- end change of color when clicked -->
        <!-- calculation for pop-up windows -->
        let discipline, grade, athletic, cruxy, endurance, crimpy, sloper, technical, vertical, overhang, roof;
        let slab, type_recommendation;
        let least_athletic, least_cruxy, least_endurance, least_crimpy, least_sloper, least_technical;
        let explanation_text, recommended_style, user_id;
        user_id = document.getElementById('form').elements['user_id'].value;

        athletic = document.getElementById('form').elements['btn-athletic'].checked ? 'on' : 0;
        cruxy = document.getElementById('form').elements['btn-cruxy'].checked ? 'on' : 0;
        endurance = document.getElementById('form').elements['btn-endurance'].checked ? 'on' : 0;
        crimpy = document.getElementById('form').elements['btn-crimpy'].checked ? 'on' : 0;
        sloper = document.getElementById('form').elements['btn-sloper'].checked ? 'on' : 0;
        technical = document.getElementById('form').elements['btn-technical'].checked ? 'on' : 0;

        least_athletic = document.getElementById('form').elements['btn-least-athletic'].checked ? 'on' : 0;
        least_cruxy = document.getElementById('form').elements['btn-least-cruxy'].checked ? 'on' : 0;
        least_endurance = document.getElementById('form').elements['btn-least-endurance'].checked ? 'on' : 0;
        least_crimpy = document.getElementById('form').elements['btn-least-crimpy'].checked ? 'on' : 0;
        least_sloper = document.getElementById('form').elements['btn-least-sloper'].checked ? 'on' : 0;
        least_technical = document.getElementById('form').elements['btn-least-technical'].checked ? 'on' : 0;

        vertical = document.getElementById('form').elements['btn-vertical'].checked ? 'on' : 0;
        overhang = document.getElementById('form').elements['btn-overhang'].checked ? 'on' : 0;
        roof = document.getElementById('form').elements['btn-roof'].checked ? 'on' : 0;
        slab = document.getElementById('form').elements['btn-slab'].checked ? 'on' : 0;

        grade_4 = document.getElementById('form').elements['btn-4'].checked ? 'on' : 0;
        grade_5a = document.getElementById('form').elements['btn-5a'].checked ? 'on' : 0;
        grade_5b = document.getElementById('form').elements['btn-5b'].checked ? 'on' : 0;
        grade_5c = document.getElementById('form').elements['btn-5c'].checked ? 'on' : 0;
        grade_6a = document.getElementById('form').elements['btn-6a'].checked ? 'on' : 0;
        grade_6b = document.getElementById('form').elements['btn-6b'].checked ? 'on' : 0;
        grade_6c = document.getElementById('form').elements['btn-6c'].checked ? 'on' : 0;
        grade_7a = document.getElementById('form').elements['btn-7a'].checked ? 'on' : 0;
        grade_7b = document.getElementById('form').elements['btn-7b'].checked ? 'on' : 0;
        grade_7c = document.getElementById('form').elements['btn-7c'].checked ? 'on' : 0;
        grade_8a = document.getElementById('form').elements['btn-8a'].checked ? 'on' : 0;
        grade_8b = document.getElementById('form').elements['btn-8b'].checked ? 'on' : 0;
        grade_8c = document.getElementById('form').elements['btn-8c'].checked ? 'on' : 0;
        grade_9a = document.getElementById('form').elements['btn-9a'].checked ? 'on' : 0;
        grade_9b = document.getElementById('form').elements['btn-9b'].checked ? 'on' : 0;
        grade_9c = document.getElementById('form').elements['btn-9c'].checked ? 'on' : 0;

        type_recommendation = document.getElementById('form').elements['type_recommendation'].value;
        <!-- end of calculationg for pop-up windows -->
        let popup_text = ``;
        {% for marker in markers %}
            popup_text = `
                    <div class="card" style="width: 18rem;">
                        <!--<img src="..." class="card-img-top" alt="...">-->
                        <div class="card-body">
                        <h5 class="card-title">{{ marker['name'] }}</h5>
                        <p class="card-text">Number routes: {{ marker['routes'] }}</p>
                        <p class="card-text">Number of ascents: {{ marker['ascents'] }}</p>
                        {% if cold_start == False %}
                        <p class="card-text">Number of recommended routes: {{ marker['recommended_routes'] }}</p>
                        {% endif %}
                        <form method="get" action="routes" class="inline">
                          <input type="hidden" name="cragSlug" value="{{ marker['cragSlug'] }}">
                          <input type="hidden" name="cragName" value="{{ marker['name'] }}">
                          <input type="hidden" name="user_id" value="${user_id}">
                          <input type="hidden" name="athletic" value="${athletic}">
                          <input type="hidden" name="cruxy" value="${cruxy}">
                          <input type="hidden" name="endurance" value="${endurance}">
                          <input type="hidden" name="crimpy" value="${crimpy}">
                          <input type="hidden" name="sloper" value="${sloper}">
                          <input type="hidden" name="technical" value="${technical}">
                          <input type="hidden" name="athletic_least" value="${least_athletic}">
                          <input type="hidden" name="cruxy_least" value="${least_cruxy}">
                          <input type="hidden" name="endurance_least" value="${least_endurance}">
                          <input type="hidden" name="crimpy_least" value="${least_crimpy}">
                          <input type="hidden" name="sloper_least" value="${least_sloper}">
                          <input type="hidden" name="technical_least" value="${least_technical}">
                          <input type="hidden" name="vertical" value="${vertical}">
                          <input type="hidden" name="overhang" value="${overhang}">
                          <input type="hidden" name="roof" value="${roof}">
                          <input type="hidden" name="slab" value="${slab}">
                          <input type="hidden" name="4" value="${grade_4}">
                          <input type="hidden" name="5a" value="${grade_5a}">
                          <input type="hidden" name="5b" value="${grade_5b}">
                          <input type="hidden" name="5c" value="${grade_5c}">
                          <input type="hidden" name="6a" value="${grade_6a}">
                          <input type="hidden" name="6b" value="${grade_6b}">
                          <input type="hidden" name="6c" value="${grade_6c}">
                          <input type="hidden" name="7a" value="${grade_7a}">
                          <input type="hidden" name="7b" value="${grade_7b}">
                          <input type="hidden" name="7c" value="${grade_7c}">
                          <input type="hidden" name="8a" value="${grade_8a}">
                          <input type="hidden" name="8b" value="${grade_8b}">
                          <input type="hidden" name="8c" value="${grade_8c}">
                          <input type="hidden" name="9a" value="${grade_9a}">
                          <input type="hidden" name="9b" value="${grade_9b}">
                          <input type="hidden" name="9c" value="${grade_9c}">
                          <input type="hidden" name="type_recommendation" value="${type_recommendation}">
                          <button type="submit" name="submit_param" value="submit_value" class="btn btn-primary">
                            Check the crag
                          </button>
                        </form>
                    </div>
                        `;

            {% if crags_recommendation == 'on' %}
                var current_icon = greenIcon;
                current_icon.options.iconSize = [{{ marker['size'] }}, {{ marker['size'] }}];
                current_icon.options.shadowSize = [{{ marker['size'] }}, {{ marker['size'] }}];
                var current_marker = L.marker([{{ marker['lat'] }}, {{ marker['lon'] }}], {icon: current_icon}).addTo(map);
                {% if cold_start %}
                    current_marker.bindPopup(popup_text);
                {% else %}
                    current_marker.bindPopup(popup_text);
                {% endif %}
            {% else %}
                var current_marker = L.marker([{{ marker['lat'] }}, {{ marker['lon'] }}], {icon: greyIcon}).addTo(map);
                current_marker.bindPopup(popup_text);
            {% endif %}
        {% endfor %}

    </script>
</body>

</html>