<!doctype html>
<html lang="en">

<head>
    <title>Flask Leaflet Website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/universal.css') }}"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
            crossorigin="anonymous"></script>

</head>

<body>

    <div class="container-fluid text-center body_table" id="routes_page">

        <div class="jumbotron text-center">
            <h1>Climbing routes recommender in crag </h1>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="full_list">
                    <table class="table table-responsive-md" id="table_sportclimbing">
                        <thead class="thead-dark">
                        <tr><th scope="col" colspan="12">Sport Climbing Routes</th></tr>
                        </thead>
                        <tbody>
                        <tr class="table-primary"><th scope="col" colspan="12">Sector Name: Name</th></tr>
                        <tr class="table-active">
                            <th scope="col">Name</th>
                            <th>Grade</th>
                            <th>Climbing style</th>
                            <th>Wall steepness</th>
                        </tr>
                        <tr class="table-condensed">
                            <th scope="col">Name</th>
                            <th>difficulty</th>
                            <th>style</th>
                            <th>steepness</th>
                        </tr>
                        <tbody>
                    </table>
                </div>

            </div>


        </div>
    </div>
</body>

</html>




